.chat-main
  .chat-main__header
    .chat-main__header__left
      .chat-main__header__left__group-name
        =@group.name
      .chat-main__header__left__menber-list
        Menber：
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .chat-main__header__right
      .chat-main__header__right__btn
        = link_to edit_group_path(@group) do
          Edit

  .messages
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .new_message__box
        = f.text_field :content, class: 'new_message__box__text', placeholder: 'type a message'
        = f.label :image, class: 'new_message__box__image' do
          = icon('fas', 'image', class: 'new_message__box__image__icon')
          = f.file_field :image, class: 'new_message__box__image__hidden'
      .new_message__btn
        = f.submit 'Send', class: 'new_message__btn__send'