.side-bar
  .side-bar__header
    .side-bar__header__box
      = current_user.name
      .side-bar__header__box__name
      .side-bar__header__box__icons
        = link_to new_group_path, class: "side-bar__header__box__icons__edit" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user), class: "side-bar__header__box__icons__cog" do
          = icon('fa', 'cog')
          
  .side-bar__group
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .name
            = group.name
          .chat
            = group.show_last_message  